body {
    font-family: 'League Spartan', sans-serif;
    background-image: url('background.jpg');
    background-color: #4c4c4c;
}

h1, h2 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.guesses {
    margin-top: 100px;
}

.ui-helper-hidden-accessible { display: none; }

.flex-container {
    display: flex;
    justify-content: center;
}

#game-board {
    border: 2px solid black;
    margin: 80px;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.9);
}

#pokemon {
    width: 200px;
    height: 30px;
}


.ui-menu .ui-menu-item{
    padding: 1px;
    max-width: 200px;
    background: white;
}

.ui-menu .ui-menu-item :hover{
    background: lightgray;
}

.grid-container {
    width: auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7,  110px);
    grid-template-rows: auto;
    grid-gap: 5px;
    /* border: 1px solid red; */
    justify-content: center;
    /* align-items: center; */
}

.cell {
    border: 2px solid white;
    box-shadow: inset 0 0 2px gray;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 18px;
    padding: 2px;
}

.title {
    border: none;
    box-shadow: none;
    height: 50px;
    align-self: end;
    margin: 2px;
}

.green {
    background-color: #00dd00;
}

.yellow {
    background-color: #ffdd00;
}

.red {
    background-color: #dd0000;
}

.arrow {
    font-size: 24px;
}

/* color styling by type */

.Normal {background-color: #A8A77A}
.Fire {background-color: #EE8130}
.Water {background-color: #6390F0}
.Electric {background-color: #F7D02C}
.Grass {background-color: #7AC74C}
.Ice {background-color: #96D9D6}
.Fighting {background-color: #C22E28}
.Poison {background-color: #A33EA1}
.Ground {background-color: #E2BF65}
.Flying {background-color: #A98FF3}
.Psychic {background-color: #F95587}
.Bug {background-color: #A6B91A}
.Rock {background-color: #B6A136}
.Ghost {background-color: #735797}
.Dragon {background-color: #6F35FC}
.Dark {background-color: #705746}
.Steel {background-color: #B7B7CE}
.Fairy {background-color: #D685AD}